*{
  margin:0;
  padding:0;

}



.App {

  background: linear-gradient(0deg, #795879 0%, #170449 100%);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body {
  margin: 0;
  padding: 0;
  position: relative;

}
section{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding:'100px 20vw'
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height:auto;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
